.button {
  background-color: #00f;
  color: #fff;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;

  &.red {
    background-color: #f00;
  }

  &.disabled {
    background-color: #ccc;
    color: #666;
  }
}
